@model IEnumerable<Book>

@{
    ViewData["Title"] = "Book List";
}


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genres</th>
            <th>Available Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr onclick="window.location.href='@Url.Action("Details", "Books", new { id = book.BookID })'" style="cursor: pointer;">
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@string.Join(", ", book.BookGenres.Select(bg => bg.Genre.Name))</td>
                <td>@book.AvailableQuantity</td>
            </tr>
        }
    </tbody>
</table>

