@using LibWeb.Models
@model IEnumerable<LibWeb.Models.Book>

@{
    ViewData["Title"] = "Book List";
}


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genres</th>
            <th>Available Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr onclick="window.location.href='@Url.Action("Details", "Books", new { id = book.BookID })'" style="cursor: pointer;">
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@string.Join(", ", book.BookGenres.Select(bg => bg.Genre.Name))</td>
                <td>@book.AvailableQuantity</td>
                <td>
                    <a href="@Url.Action("Edit", "Books", new { id = book.BookID })" class="btn btn-warning btn-sm">Edit</a>
                    <a href="@Url.Action("Delete", "Books", new { id = book.BookID })" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Books")" class="btn btn-primary">Add New Book</a>

<nav>
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = 1 })">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1 })">Previous</a>
            </li>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1 })">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.TotalPages })">Last</a>
            </li>
        }
    </ul>
</nav>